<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonkasse</title>
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
    <div id="modal-container"></div>
    <div id="toast-container"></div>
    <script src="/static/js/app.js"></script>
</body>
</html>
